apiVersion: v1
kind: ConfigMap
metadata:
  name: "{{namespace_name}}-metrics-config"
  namespace: "{{namespace_name}}"
data:
  config.alloy: |
    logging {
      level = "info"
      format = "logfmt"
    }

    discovery.kubernetes "nodes" {
      role = "node"
    }

    discovery.kubernetes "k8s_pods" {
        role = "pod"
    }

    prometheus.scrape "cadvisor" {
        targets = discovery.kubernetes.nodes.targets
        forward_to = [prometheus.relabel.prom_rewrite.receiver]

        scheme = "https"
        metrics_path = "/metrics/cadvisor"

        bearer_token_file = "/var/run/secrets/kubernetes.io/serviceaccount/token"

        tls_config {
            insecure_skip_verify = true
        }
    }

    prometheus.scrape "pods" {
        targets    = discovery.kubernetes.k8s_pods.targets
        forward_to = [prometheus.relabel.prom_rewrite.receiver]
    }

    prometheus.scrape "kubelet" {
      targets = discovery.kubernetes.nodes.targets
      forward_to = [prometheus.relabel.prom_rewrite.receiver]
    }

    prometheus.relabel "prom_rewrite" {
        rule {
            target_label = "k8s_cluster"
            replacement = "{{cluster_name}}"
        }
        forward_to = [prometheus.remote_write.default.receiver]
    }

    prometheus.remote_write "default" {
      endpoint {
        url = "{{mimir_endpoint}}"

        tls_config {
            insecure_skip_verify = true
        }
      }
    }