apiVersion: v1
kind: Secret
metadata:
  name: {{namespace_name}}-token
  annotations:
    kubernetes.io/service-account.name: {{namespace_name}}-sa
  namespace: "{{namespace_name}}"
type: kubernetes.io/service-account-token