[[inputs.cpu]]
  percpu = true
  totalcpu = true
  collect_cpu_time = false

[[inputs.mem]]

[[inputs.temp]]

[[inputs.disk]]
  ignore_fs = ["tmpfs", "devtmpfs", "overlay"]

[[inputs.diskio]]

[[inputs.net]]

[[inputs.system]]
  fieldinclude = ["uptime", "load1", "load5", "load15"]

[[inputs.procstat]]
  pattern = "sshd"

[[outputs.opentelemetry]]
  service_address = "{{otel_gateway}}"
  compression = "gzip"
  insecure_skip_verify = true

  [outputs.opentelemetry.attributes]
    "job" = "telegraf"