apiVersion: v1
kind: Secret
metadata:
  name: {{user_name}}-token
  annotations:
    kubernetes.io/service-account.name: {{user_name}}
  namespace: kube-system
type: kubernetes.io/service-account-token
