apiVersion: v1
kind: Config
current-context: "{{ kube_current_context }}"
clusters:
  {% for cluster in kube_clusters %}
  - name: "{{ cluster.name }}"
    cluster:
      server: "{{ cluster.server }}"
      certificate-authority-data: "{{ cluster.ca_cert }}"
  {% endfor %}
users:
  {% for user in kube_users %}
  - name: "{{ user.name }}"
    user:
      token: "{{ user.token }}"
  {% endfor %}
contexts:
  {% for context in kube_contexts %}
  - name: "{{ context.namespace }}"
    context:
      cluster: "{{ context.cluster }}"
      user: "{{ context.user }}"
      namespace: "{{ context.namespace }}"
  {% endfor %}