grafana_auth = "user:pasword"
grafana_url  = "https://grafana.url.com"

users = [
  {
    user_login    = "username"
    user_name     = "John Doe"
    user_email    = "john.doe@example.com"
    user_password = "changeme"
  }
]