apiVersion: v1
kind: Service
metadata:
  namespace: {{ namespace }}
  name: {{ loki.name }}-service
spec:
  type: ClusterIP
  selector:
    app: {{ loki.name }}
  ports:
    - protocol: TCP
      port: {{ loki.specs.exposed_port }}
      targetPort: {{ loki.specs.container_port }}