apiVersion: v1
kind: ResourceQuota
metadata:
  name: {{namespace_name}}-quota
  namespace: {{namespace_name}}
spec:
  hard:
    requests.cpu: "300m"
    requests.memory: "200Mi"
    limits.cpu: "1"
    limits.memory: "1Gi"
    pods: "20"
