apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: neryo-binding
  namespace: {{namespace_name}}
subjects:
  - kind: ServiceAccount
    name: {{user_name}}
    namespace: kube-system
roleRef:
  kind: Role
  name: {{user_name}}-role
  apiGroup: rbac.authorization.k8s.io
