apiVersion: kafka.strimzi.io/v1beta2
kind: KafkaUser
metadata:
  name: "{{kafka_username}}"
  namespace: "{{k8s_namespace}}"
  labels:
    strimzi.io/cluster: "{{kafka_cluter_name}}"
spec:
  authentication:
    type: scram-sha-512
  authorization:
    acls:
{% if kafka_user_acls is defined %}
{% for acls in kafka_user_acls %}
      - resource:
          type: {{ acls.resource.type }}
          name: {{ acls.resource.name }}
          patternType: {{ acls.resource.patternType }}
        operations:
{% for operation in acls.operations %}
          - {{ operation }}
{% endfor %}
{% endfor %}
{% endif %}
      - resource:
          type: topic
          name: {{kafka_topic_name}}
          patternType: literal
        operations:
          - Describe
{% if acls_read %}
          - Read
{% endif %}
{% if acls_write %}
          - Write
{% endif %}