---
- name: Install passlib
  delegate_to: localhost
  ansible.builtin.pip:
    name: passlib
    state: present

- name: Create sudo group
  include_tasks: create_sudo_group.yml
  when: create_sudo_group

- name: Add user
  ansible.builtin.user:
    name: "{{ user }}"
    state: present
    groups: "{{ user_groups }}"
    password: "{{ user_password | password_hash('sha512') }}"

- name: Add ssh key
  include_tasks: add_ssh_key.yml
  when: add_ssh_key
