apiVersion: v1
kind: LimitRange
metadata:
  name: {{namespace_name}}-limitrange
  namespace: {{namespace_name}}
spec:
  limits:
  - type: Container
    default:
      cpu: "{{limit_cpu}}"
      memory: "{{limit_memory}}"
    defaultRequest:
      cpu: "{{requests_cpu}}"
      memory: "{{requests_memory}}"
