apiVersion: v1
kind: ResourceQuota
metadata:
  name: {{namespace_name}}-quota
  namespace: {{namespace_name}}
spec:
  hard:
    requests.cpu: "{{requests_cpu}}"
    requests.memory: "{{requests_memory}}"
    limits.cpu: "{{limit_cpu}}"
    limits.memory: "{{limit_memory}}"
    pods: "{{limit_pods}}"
    services.nodeports: "0"
    services.loadbalancers: "0"
    persistentvolumeclaims: "10"
    requests.storage: "{{requests_storage}}"
    count/daemonsets.apps: 0
    count/daemonsets.extensions: 0
    count/jobs.batch: {{job_batch_limit}}